*{
    background-color: #FFF;
}
.battery-heading{
    text-align: center;
    padding: 50px 0 50px 0;
    box-shadow: 4px 4px 50px rgb(204, 90, 90);
}
.battery-body{
    background-color: #141010;
    height: 200px;
    width: 100px;
    display: flex;
    flex-direction: column-reverse;

    margin-left: 600px;position: absolute;
    border-radius: 10px;
}
.battery-head{
    background-color: rgb(13, 255, 5);
    height: 10px;
    width: 30px;
    border-radius: 20px;
    margin-top:50px;
    margin-left: 635px;
}
.battery-charge{
    width: 100%;
     padding-bottom: 10px;
     border-radius: 10px;
    animation: batteryanimation 5s ease-in infinite normal;
  
}
@keyframes batteryanimation {
   100% {
        height: 100%; background-color: green ; 
    }
   80% { 
        height:80%; background-color: lightgreen;
    }
    60% {
        height: 60%; background-color: yellowgreen;
    }
    40% {
        height: 40%; background-color: orange;
    }
     20% {
        height: 20%; background-color: orangered;
    }
    0%{
        height: 0; background-color: red;
    }
}